/*=============================================

             Global Element Designs

=============================================*/
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

html, main {
    background-color: white;
    font-family: 'Roboto','Helvetica Neue',Arial,sans-serif;
}

.secondaryButton {
    background-color: transparent;
    border: solid black 2px;
    padding: 7px 15px;
}

h1, h2 {
    font-family: 'Quicksand','Helvetica Neue',Arial,sans-serif;
}

h1 {
    font-size: 36pt !important;
}

h2 {
    font-size: 25pt !important;
}

h3 {
    font-size: 17pt !important;
}

h4 {
    font-size: 14pt !important;
}

/*=============================================

             Navigation Bar Style

=============================================*/

#nav {
    z-index: 10000;
    height: 64px;
    position: relative;
}
    #nav .navStyle {
        width: 100%;
        position: fixed;
        background-color: white;
        -webkit-box-shadow: 0px 2px 10px 0px rgba(110,110,110,0.25);
-moz-box-shadow: 0px 2px 10px 0px rgba(110,110,110,0.25);
box-shadow: 0px 2px 10px 0px rgba(110,110,110,0.25);
    }

#nav .topLogo {
    height: 45px;
    margin-top: 10px;
}
    #nav .profilePic {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-top: 10px;
    }

    #nav .logInButton {
        background: none;
        border: none;
        padding: 5px 10px;
    }

    #nav .signUpButton {
        background: none;
        border: solid 1px black;
        padding: 5px 20px;
    }

    #nav .dashboardButton {
        display: inline-block;
        height: 50px;
        line-height: 50px;
    }

    #navbar-appbar>button>div>svg {
        fill: black !important;
    }

    /*=============================================
             Authentication Modal Style
    =============================================*/

    .googleAuthImg {
        max-width: 260px;
    }
        .googleAuthImg:hover {
            cursor: pointer;
        }

    .authModal {
        text-align: center;
    }
        .authModal h2 {
            font-size: 25pt;
        }

/*=============================================

             Landing/Home Page Style

=============================================*/

#homePage {
    margin-top: -64px;
    z-index: 1;
}
    #homePage a {
        color: initial;
    }

    #homePage h2 {
        margin-top: 4vh;
    }

    #homePage .numberCircle {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 5px;
        background: transparent;
        border: 2px solid #666;
        color: #666;
        text-align: center;
        font-size: 25px;
        display: inline-block;
        margin-top: 2vh;
    }

    #homePage .heroBanner {
        text-align: left;
        padding-top: 64px;

        background-color: #ecf0f1;
    }
        #homePage .heroBanner .content {
            padding: 10vh 0px;
        }

        #homePage .heroBanner h1 {
            margin: 0;
            margin-bottom: 5vh;
        }

        #homePage .heroBanner h3 {
            margin: 0;
            margin-bottom: 10px;
        }

        #homePage .heroBanner .primaryCTA {
            background-color: white;
            border: solid black 2px;
            padding: 10px 20px;
        }

    #homePage .browseTileSection {

    }
        #homePage .browseTileSection img {
            width: 100%;
        }

    #homePage .createProjectSection {
        margin-top: -100px;
        padding: 15vh 0px;
        background-color: #E9E9E9;
        text-align: center;
    }

    #homePage .companyLogosList {
        text-align: center;
        padding: 10vh 0px;
    }
        #homePage .companyLogosList .imageHolder {
            width: 100%;
            padding: 30px 0px;
            text-align: center;
        }

        #homePage .companyLogosList img {
            max-height: 30px;
            max-width: 85%;
        }

        #homePage .companyLogosList p {
            color: gray;
            font-style: italic;
        }

/*=============================================

             Select Interest Style

=============================================*/



.selectInterestsSection {
    text-align: center;
    padding: 30px 0px;
}
    .selectInterestsSection h2 {
        font-size: 2em;
        margin: 0;
        padding: 25px 0px;
    }

    .selectInterestsSection h4 {
        color: #939393;
        font-size: 5pt;
    }

    .selectInterestsSection a {
        color: inherit;
    }

    .selectInterestsSection .interestTile {
        text-align: center;
        font-family: 'Quicksand';
        background-color: #C4C4C4;
        padding: 25px 0px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: inline-block;
        font-size: 15pt;
        margin-bottom: 10px;
        color: white;
        border: solid 4px #C4C4C4;
    }
        .selectInterestsSection .interestTile img {
            height: 100px;
        }
        .selectInterestsSection .interestTile i {
            font-size: 20pt;
        }

        .selectInterestsSection .interestTile:hover {
            border: solid 4px #F7BF59;
        }

/*=============================================

             Onboarding Flow Style

=============================================*/

.onboardSection {

}
    .darkBlueBg {
        background-color: #2F9CAA;
    }
    
    .onboardSection .row {
        margin-bottom: 0px !important;
    }

    .onboardSection .browseOptionButton {
        text-align: left;
    }

    .onboardSection .onboardPart {
        padding: 30px;
        padding-bottom: 0px;
        background-color: white;
    }

        .onboardSection .onboardPart .mockholder {
            text-align: center;
        }

        .onboardSection .onboardPart .mockholder img {
            max-width: 95%;
            margin-bottom: -6px;
        }

        .onboardSection .onboardPart .logoImage {
            width: 100px;
        }

/*=============================================

             Project Preview Style

=============================================*/

#projectPage {
    margin: 50px 0px;
}
    #projectPage .oneLiner {
        font-size: 1.5rem;
    }

    #projectPage .projectTitle {
        font-size: 3em;
        margin-top: 0px;
    }

    #projectPage .oneLiner {
        font-size: 2rem;
    }

/*=============================================

             Loading Screen Style

=============================================*/

.loadingScreen {
	background: rgba(0,0,0,0.5);
	height: 100vh;
	width: 100vw;
	padding-top: 40vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
}
    .loadingScreen .spinner {
        width: 40px;
        height: 40px;

        position: relative;
        margin: 0px auto;
    }

    .loadingScreen .double-bounce1, .loadingScreen .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #FFB734;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;

        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
    }

    .loadingScreen .double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

/*=============================================

             Footer Style

=============================================*/

.page-footer {
    padding: 10vh 0px !important;
}

/*=============================================

             Misc Media Style

=============================================*/


.reduce-bot-margin {
    margin-bottom: 0 !important;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* label focus color */

input:focus+label {
    opacity: 0;
    color: white !important;
}


/* label underline focus color */

input:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0 !important;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
}

@media (min-width: 992px) {
    .container {
        width: 95%;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 0.75rem;
    }
    #navbar-appbar>button {
        visibility: hidden;
        display: none;
        margin: 8px 8px 0px -66px !important;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2.25rem;
    }
}
