/*=============================================

             Global Element Designs

=============================================*/

html, main {
    background-color: #ecf0f1;
}

.secondaryButton {
    background-color: transparent;
    border: solid black 2px;
    padding: 7px 15px;
}

/*=============================================

             Navigation Bar Style

=============================================*/

#nav .topLogo {
    height: 45px;
    margin-top: 10px;
}
    #nav .profilePic {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-top: 10px;
    }

    #nav .logInButton {
        background: none;
        border: none;
        padding: 5px 10px;
    }

    #nav .signUpButton {
        background: none;
        border: solid 1px black;
        padding: 5px 20px;
    }

    #nav .dashboardButton {
        display: inline-block;
        height: 50px;
        line-height: 50px;
    }

    #navbar-appbar>button>div>svg {
        fill: black !important;
    }

    /*=============================================
             Authentication Modal Style
    =============================================*/

    .googleAuthImg {
        max-width: 260px;
    }
        .googleAuthImg:hover {
            cursor: pointer;
        }

    .authModal {
        text-align: center;
    }
        .authModal h2 {
            font-size: 25pt;
        }

/*=============================================

             Landing/Home Page Style

=============================================*/

#homePage {

}
    #homePage a {
        color: initial;
    }
    #homePage .heroBanner {
        text-align: center;
        padding: 10vh 0px;
    }
        #homePage .heroBanner h3 {
            font-size: 1.5em;
        }

        #homePage .heroBanner .primaryCTA {
            background-color: white;
            border: solid black 2px;
            padding: 10px 20px;
        }

    #homePage .companyLogosList {
        text-align: center;
        padding: 25px 0px;
    }
        #homePage .companyLogosList img {
            max-height: 30px;
            max-width: 85%;
        }

        #homePage .companyLogosList p {
            color: gray;
            font-style: italic;
        }

/*=============================================

             Select Interest Style

=============================================*/

.selectInterestsSection {
    text-align: center;
    padding: 30px 0px;
}
    .selectInterestsSection h2 {
        font-size: 2em;
        margin: 0;
        padding: 25px 0px;
    }

    .selectInterestsSection a {
        color: inherit;
    }

    .selectInterestsSection .interestTile {
        background-color: white;
        padding: 20px;
        width: 100%;
        max-width: 200px;
        display: inline-block;
        font-size: 15pt;
        border-bottom: solid white 5px;
        margin-bottom: 10px;
    }
        .selectInterestsSection .interestTile i {
            font-size: 20pt;
        }

        .selectInterestsSection .interestTile:hover {
            border-bottom: solid gray 5px;
        }

/*=============================================

             Project Preview Style

=============================================*/

#projectPage {
    margin: 50px 0px;
}
    #projectPage .oneLiner {
        font-size: 1.5rem;
    }

    #projectPage .projectTitle {
        font-size: 3em;
        margin-top: 0px;
    }

    #projectPage .oneLiner {
        font-size: 2rem;
    }

/*=============================================

             Loading Screen Style

=============================================*/

.loadingScreen {
	background: rgba(0,0,0,0.5);
	height: 100vh;
	width: 100vw;
	padding-top: 40vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
}
    .loadingScreen .spinner {
        width: 40px;
        height: 40px;

        position: relative;
        margin: 0px auto;
    }

    .loadingScreen .double-bounce1, .loadingScreen .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #FFB734;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;

        -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
        animation: sk-bounce 2.0s infinite ease-in-out;
    }

    .loadingScreen .double-bounce2 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

/*=============================================

             Footer Style

=============================================*/

.page-footer {
    padding: 10vh 0px !important;
}

/*=============================================

             Misc Media Style

=============================================*/


.reduce-bot-margin {
    margin-bottom: 0 !important;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* label focus color */

input:focus+label {
    opacity: 0;
    color: white !important;
}


/* label underline focus color */

input:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0 !important;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
}

@media (min-width: 992px) {
    .container {
        width: 95%;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 0.75rem;
    }
    #navbar-appbar>button {
        visibility: hidden;
        display: none;
        margin: 8px 8px 0px -66px !important;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2.25rem;
    }
}
